.navbar{
    background-color: #FF8C42;
    height: 80px;
}

.primary-bg-color{
    background-color: #223454;
}

.nav-link, .navbar-brand{
    color: #fff;
}

.nav-link{
    transition: all .5s ease 0s;
}


.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color: #223454;
}

.landing-container .row{
    height: 100vh;
}

.landing-container{
    background-image: url('assets/bg-landing.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 70%;

}

.landing-page{
    background-color: rgba(34, 52, 84, .6);
}

.profile-image{
    border-radius: 50%;
    border: 10px solid #FF8C42;
}

.parallax{
    background-image: url('assets/bg-paralax.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax .row{
    height: 83vh;
}

.project-title{
    background-color: #223454;
    height: 100px;
    border-radius: 10px;
    width: 100%;
}

.card{
  border-radius: 10px;
}

.more-project a{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    column-gap: 10px;
    text-decoration: none;
    color: #223454;
    background-color: #FF8C42;
}

.contact-container{
    height: 58vh;
    padding-top: 40px;
    background-color: #FF8C42;
}

.education-container{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 35%;

}

.education ul, .certificate ul{
    text-align: left;
}

.contact{
    background-color: #223454;
}

.contact{
    width:40%;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px;
}

.dashbox-container{
    background-color: #223454;
    
}
.dashbox-container .row{
    border-radius: 10px;
    /* height: 86vh; */
    background-color: #fff;   
    padding-left: 30px; 
    padding-right: 50px; 
    padding-top: 50px; 
}

.dash-desc{
    display: flex;
}

a{
    text-decoration: none;
    color: #333;
}

footer{
    background-color: #223454;
    height: 60px;

}

